/* Estilos generales */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;  
    padding: 20px;
    background-color: #f4f4f4;
}
a{
    text-decoration: none;
    color: black;
    
    
   
}

header{
    display: flex;
    min-height: 70px;
    background-color: #d6a2ac;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 18px

    

}

.logo{
    display: flex;
    align-items: center;
    
}

.logo img{
    width: 150px;
    height: auto;

    
    margin-left: 100px;
    justify-content: center;
 }

 h1 {
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 400px;
    line-height: 2.3;
 }
 
nav a{
    font-weight: 600px;
    padding-right: 30px;
}
nav a:hover{
    color: white;
}
/*destok*/
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Galería - diseño base (móvil) */
.galeria {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    
}

.galeria img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top:10px;
}


/* Media Query 1: Tablets, serian anchos≥ 600px) */
@media (min-width: 600px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media Query 2: Escritorio, serian anchos ≥ 1024px */
@media (min-width: 1024px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
    }

    .galeria img {
        transition: transform 0.3s ease;
    }

    .galeria img:hover {
        transform: scale(1.05);
    }
}



.item {
    border-radius: 12px;
}

.item img {
  
    object-fit: cover;
    width: 100%;
    height: 150px;
   
}



/* ===== TABLET (>=600px) ===== */
@media (min-width: 600px) {
    .galeria-editorial {
        grid-template-areas:
            "a a b c"
            "a a d d"
            "e f d d";
    }
}

/* ===== ESCRITORIO (>=1024px) ===== */
@media (min-width: 1024px) {
    .galeria-editorial {
        grid-template-areas:
            "a a b c d d"
            "a a e e d d"
            "f f e e d d";
    }
}

footer {
    background-color: #d6a2ac;
    color: white;
    padding: 2rem 1rem;
    margin-top: 20px;
   
   
}


.contenedor {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
ul{
    list-style-type: none;
    padding:0px;
    margin: 0px;
}

.social-icons{
    display: flex;
    width: 20px; /* Ancho deseado */
    color: white;

}


.numerocelular{
     color: white;
}
.email{
    
     color: white;
}
.defensadelconsumidor{
     color: white;
      text-decoration: underline;

}
.botondearrepentimiento{
     color: white;
     text-decoration: underline;
}

.footer-copyright {
  display: flex; /* Flexbox */
  align-items: center; /* Centra verticalmente */
  justify-content:center;
  gap: 2rem; /* Espacio entre icono y texto */
  color: white;
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
iframe{
    border-radius: 20px;
}
