@use "sass:color";

// 2. VARIABLES: Los colores de la marca crochet
$color-lana: #8d6e63;
$color-fondo-card: #fffafb;

img{
    max-width: 100%;
    height: auto;
}
h1{
    text-align: center;
   
}
// 3. ESTILOS GENERALES 
body {
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #fdfdfd;

    

}   &:hover {
        transform: translateY(-10px);
        border-color: color.adjust($color-lana, $lightness: 30%);
        box-shadow: 0 15px 30px rgba(0,0,0,0.1);

        .img-zoom {
            transform: scale(1.1);
        }
    }

    .img-zoom {
        transition: transform 0.5s ease;
    }

    .btn-secondary {
        background-color: $color-lana;
        border: none;
        &:hover {
            background-color: color.adjust($color-lana, $lightness: -10%);
        }
    }


header{
    background-color: #d6a2ac;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    .logo img {
        height: 180px; // tamaño del logo
    }

    nav {
        a {
            margin-left: 20px;
            text-decoration: none;
            color: #8d6e63; // Tu color marrón
            font-weight: bold;
            &:hover {
                color: #fce4ec; // Rosa al pasar el mouse
            }
        }
    }
}

/**estilo del footer*/
footer {
    background-color: #d6a2ac;
    color: white;
    padding: 2rem 1rem;
    margin-top: 20px;
   
   
}


.contenedor {
    display: flex;
    gap: 2rem;
}
ul{
    list-style-type: none;
    padding:0px;
    margin: 0px;
}

.social-icons{
    display: flex;
    width: 20px; /* Ancho deseado */
    color: white;

}


.numerocelular{
     color: white;
     
}
.email{
    
     color: white;
}
.defensadelconsumidor{
     color: white;
      text-decoration: underline;

}
  
.footer-copyright {
  display: flex; /* Flexbox */
  align-items: center; /* Centra verticalmente */
  justify-content:center;
  gap: 2rem; /* Espacio entre icono y texto */
  color: white;
}
   

   



// Estilos para la galería
.galeria {
    img {
        object-fit: cover; // Para que todas las fotos midan lo mismo
        height: 250px;
    }
}


/* Galería - diseño base (móvil) */
.galeria {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    
}

.galeria img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top:10px;
}


/* Media Query 1: Tablets, serian anchos≥ 600px) */
@media (min-width: 600px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media Query 2: Escritorio, serian anchos ≥ 1024px */
@media (min-width: 1024px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
    }

    .galeria img {
        transition: transform 0.3s ease;
    }

    .galeria img:hover {
        transform: scale(1.05);
    }
}






